 /* .DateInput_input__focused {
    display: none;;
}  */
/* .DateInput {
    display: none;
} */
/* .DateRangePickerInput_arrow {
    display:none;
} */
/* .DateRangePickerInput_clearDates_svg {
    display:none;
}  */
/* .DateRangePickerInput__withBorder {
    display:none;
} */
 
/* .DateRangePickerInput__withBorder {
    border:none;
}  */

/* .DateRangePickerInput_clearDates {
    display: none;
} */